body{
    display: grid;

}
.header{
    display: grid;
    background-color: #797a7c;
    place-items: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:20px;
}


.card{
    height:350px;
    border:2px solid black;
    display: grid;
    border-radius: 5px;
    align-items: start;
    background-color: rgb(159,177,236);
    text-align: center;

   /* background-image: linear-gradient(to right, blue , rgb(159, 177, 236));*/

}
.card p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
    


.info{
    display: grid;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}

.buttons button{
    border-radius: 32px;
    width:48px;
    height: auto;
    border: none;

}



.buttons .change{
    grid-column: 1 /span 2 ;
    border-radius: 6px;
    width: fit-content;
    background-color: rgb(30, 30, 95);
    color:#fff;

}

.remove{
    background-color: inherit;
}

.remove:hover{
    background-color: red;
}

.fav{
   background-color: inherit;
}

svg{
    fill:white;
}